<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="/vendor/gif.js/gif.js"></script>
  </head>
  <body>
    <p>
      <select class="sketches">
      </select>
      <button class="jpg">jpg</button>
      <input class="seconds" size="5" value="4">
      <button class="gif">gif</button>
      <button class="reload">reload</button>
      <span class="wait" style="display: none;">wait...</span>
    </p>
  </body>
</html>
